.container {
    height: calc(100vh - 80px - 60px - 60px);
    overflow-y: auto;

    & .matchCard, .groupCard {
        border: 1px solid lightgrey;
    }

    & .card {
        padding: 15px;
        border-radius: 0.5rem;
        background: #FFF;

        & .card-top {
            display: flex;
            height: 50px;
            font-size: 20px;
            font-weight: 600;
            margin: 0 0 30px 0;

            & .menu {
                &:hover {
                    cursor: pointer;
                }

                margin: 3px 5px 3px 5px;
                padding: 5px 7px 5px 7px;

                display: inline-block;
                margin: 5px;
            }

            & .active {
                border-radius: 0.25rem;
                background: #550065;
                color: #FFF;
            }
        }

        & .card-nav {
            display: flex;
            margin-bottom: 20px;
        }
    }

    & .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        margin: auto;
        height: calc(100vh - 80px - 60px - 80px - 90px);

        & .spinner {
            animation: infinite_spin 3s linear infinite;
        }
    }
}

@keyframes infinite_spin {
    100% {
        transform: rotate(360deg);
    }
}