@import "index.scoped.scss";

.container {
    & .arrow-btn {
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    & .card-menu {
        margin-left: auto;
        margin-right: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        max-width: calc(100% - 15px - 15px - 20px);
        scroll-behavior: smooth;
        scroll-margin-block: end;

        & .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90px;
            flex: 0 0 auto;
            background: inherit;
            margin: 3px 5px 3px 5px;
            padding: 3px 5px 3px 5px;

            &:hover {
                cursor: pointer;
            }
        }

        & .active {
            font-weight: 600px;
            border-radius: 0.2rem;
            color: #FFF;
            background: lightgrey;
        }
    }
}