.card {
    padding: 10px;
    margin: 5px;
    border-radius: 0.25rem;
    background: #FFF;
    border-bottom: solid lightgrey 1px;

    &-2 {
        width: 50%;
    }

    &-3 {
        width: 33%;
    }

    &-4 {
        width: 25%;
    }

    table {
        height: inherit;
        width: 100%;
        text-align: center;

        thead {
            color: grey;
        }

        & .groupName {
            color: black;
            text-align: left;
            font-size: 20px;
            font-weight: 700px;
        }
        
        & .rank {
            padding: 0 10px 0 0;
        }

        & .flag {
            width: 40px;
            height: 30px;
            margin-right: 20px;
            border: 1px solid #BF9B30;
        }

        & .country-td {
            text-align: left;

            & img {
                float: left;
            }

            & .country-name {
                font-weight: 700px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
            }
        }

        border-collapse: collapse;

        th, td {
            margin: 10px 0 10px 0;
            padding: 10px 0 10px 0;
            border-bottom: solid lightgrey 1px;
        }
    }
}