.container {
    & .match-detail {
        & .matchCard:hover, .groupCard:hover {
            border: 1px solid #BF9B30;
            cursor: pointer;
            opacity: 0.8;
        }

        & .matchs {
            display: grid;
            
            &-1 {
                grid-column: 1;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
            }
    
            &-2 {
                grid-column: 2;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
            }
    
            &-3 {
                grid-column: 3;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
            }
    
            & .flag {
                width: 80px;
                height: 60px;
                border: 1px solid #BF9B30;
            }
        }

        & .title {
            text-align: center;
            margin: 0 0 40px 0;
            font-size: 30px;
        }
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: calc(100vh - 80px - 60px);

    & .spinner {
        animation: infinite_spin 3s linear infinite;
    }
}

@keyframes infinite_spin {
    100% {
        transform: rotate(360deg);
    }
}